.card{
    width: 350px;
    height: 355px;
    margin-top: 30px;
    div{
        background-color: rgba(51, 130, 115, 1);
        border-radius: 24px;
        width: 290px;
        height: 295px;
        overflow: hidden;
        backface-visibility: hidden;
        position: absolute;
        transition: transform .3s linear;
        text-align: center;
        color: rgba(193, 245, 234, 1);
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        h3{
            font-size: 35px;
            font-weight: 700;
            margin-top: 20px;
        }
        p{
            font-size: 30px;
            font-weight: 600;
            color: rgba(193, 245, 234, 1);
        }
    }
    .card-cover{
        transform: perspective(600px) rotateY(0deg);
    }
    .card-back{
        transform: perspective(600px) rotateY(180deg);
    }
}
.card:hover > .card-cover{
    transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .card-back{
    transform: perspective(600px) rotateY(0deg);
}
@media(max-width: 1199px){
    .card{
        margin: 30px;
    }
}
@media(max-width: 790px){
    .card{
        width: 280px;
        height: 250px;
        margin-top: 30px;
        margin: 0px;
        div{
            background-color: rgba(51, 130, 115, 1);
            border-radius: 24px;
            width: 260px;
            height: 210px;
            padding: 10px;
            h3{
                font-size: 30px;
            }
            p{
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 20px;
            }
        }
        .card-back{
            p{
                font-size: 20px;
                margin-top: 30px;
            }
        }
    }
}